
.menu1>a{margin-bottom:0px;border-top:1px solid #4c5e73;background-color:#3f4f62;color:#fff;filter:null;}
.menu1>a:hover{background-color:#45576c;filter:null;}
.menu1>a.pay{border-top:0;background:url(../images/theme2.png) no-repeat;filter:null;}

.body{color:#333;}
.tabs>li{color:#8b5a4c;background-color:rgba(219,189,192,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#66dbbdc0,endColorstr=#66dbbdc0);}
.tabs>li.on{color:#fff;background:#8b5a4c;font-weight:bold;}
.tabs>li.on:before{border-top-color:#8b5a4c;}
.info-mater,.info-update>.more{color:#6f1c04;}
.info-mater>span{color:#ccc;}

.svr-new>li{border:1px solid #f5b7d4;border-left:3px solid #c04b6b;background-color:rgba(248,170,203,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#aaf8aacb,endColorstr=#aaf8aacb);}
.svr-new>li>h4{color:#a02e4e;}
.svr-new>li>p{color:#8b5a4c;}

.svr-list>.head>h4{color:#222;}
.svr-list>.list>a{background:#97a7c1;color:#1c242d;}
.svr-list>.list>a:hover{background:#9dadc8;}
.svr-list>.list>a.new>em{color:#ff0;}

.footer{color:#666;}